<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceDemo UI Suite">

    <listeners>
        <listener class-name="utils.TestListener" />
    </listeners>

    <test name="End To End Tests">
        <classes>
            <class name="runners.TestRunner"/>
        </classes>
    </test>

</suite>